.location_info{
	padding: 35px 25px;
	background-color: $darkBlueColor;
	ul{
		list-style-type: none;
	}
}

.location_address{
	margin-bottom: 30px;
	.adress_title{
		margin-bottom: 15px;
	}
	ul{
		color: $lightGreyColor;
	}
}

.location_phone, .location_mail{
	margin-bottom: 30px;
	a{
		color: $lightGreyColor;
	}
}

.location_media{
	border-top: 1px solid rgba(221, 221, 221, 0.5);
	ul{
		display: flex;
		justify-content: space-between;
		padding: 30px 35px 0 35px;
		
		.location_media_icon{
			border: 1px solid $lightBlueColor;
			height: 40px;
			width: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			a{
				color: $lightBlueColor;
				height: 40px;
				width: 40px;
				display: flex;
				align-items: center;
				justify-content: center;

				&:hover{
					color: $primaryColor;
				}
			}
		}
	}
}

.map_location{
	height: 250px;
	width: 100%;
	position: relative;
}


@media screen and (min-width: 768px){
	
	.location_info{
		padding: 50px 40px;
		max-width: 395px;
		position: absolute;
		z-index: 1;
		bottom: -140px;
		left: 80px;
	}

	.map_location{
		height: 565px;
	}
}

@media screen and (min-width: 992px){
	
}

@media screen and (min-width: 1200px){
	
}