//Banner
.banner_hero{
    position: relative;
    img{
        background-position: center;
        height: auto;
        width: 100%;
        display: block;
    }
    .banner_overlay{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;

        .banner_title{
            margin-bottom: 25px;
            text-shadow: rgba(0,0,0,0.5) 0px 8px 6px;
        }
        .banner_subtext{
            margin-bottom: 60px;
            text-shadow: rgba(0,0,0,0.90) 0px 3px 3px;
        }
    }
}

<<<<<<< HEAD
.intro_title{
    margin-bottom: 45px;
    text-align: center;
}

.intro_subtext{
    text-align: center;
=======
.banner_margin{
    margin-top: -126px;
    z-index: -1;
>>>>>>> 44bd793114b0a1cbf393a75af543fd304d270577
}

//Partner Section
.partners_wrapper{
    border-bottom: 1px solid rgba(112, 112, 112, 0.25);
    margin: 0 auto;
    padding: 1.5625rem 0;
    .partner{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.9375rem;
        margin-bottom: 0.9375rem;
    }
}

@media screen and (min-width: 768px){
    .partners_wrapper{
        .partner{
            margin-top: 1.5625rem;
            margin-bottom: 1.5625rem;
        }
    }
}

@media screen and (min-width: 1200px){
    .banner_hero{
        .banner_subtext{
            line-height: 28px;
        }
    }

    .partners_wrapper{
        width: 930px;
    }

    .intro_subtext{
        line-height: 32px;
    }
}