#quality.hero{
    display: flex;
    align-items: center;
    height: 556px;
    color: #383838;
    background-size: cover;
    background-color: #ecedf1;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-name: handFadeUp;
    background-repeat: no-repeat;
    animation-timing-function: ease-out;
    background-position: 100vw 0px;
    animation-fill-mode: forwards;
    background-image: url('/src/assets/images/about.svg');
  
    .hint {
      color: #383838;
      opacity: 0.7;
      font-size: 13px;
      text-decoration: none;
      display: inline-block;
  
      &:hover {
        opacity: 1;
      }
    }
  }