    #whycarbon{

        p{
            color: $whiteColor;
        }
        .h3{
            color: $whiteColor;
        }

        table{
            color: $whiteColor;

            .tg {
                border-collapse:collapse;
                border-spacing:0;
               }
          .tg td{
            font-size:14px;
            padding:15px 10px;
            border-style:solid;
            border-width:1px;
            overflow:hidden;
            word-break:normal;
            border-color:white;
           }
          .tg th{
            font-size:14px;font-weight:normal;
            padding:15px 10px;
            border-style:solid;
            border-width:1px;
            overflow:hidden;
            word-break:normal;
            border-color:white;}
         
          .tg .tg-0lax{
            text-align:left;
            vertical-align:left;
            color:#ffffff;
            padding:10px;
           }

        }
    }



 