.ref_logo{
  a{
    display: block;
  }
  img{
    height: 160px;
    width: 160px;
  }
}

@media screen and (min-width: 992px){
  .col-lg-1-5 { 
    max-width: 20%;
  }
}

@media screen and (min-width: 1200px){
  
  
  .ref_logo{
    img{
      height: 198px;
      width: 198px;
    }
  }
}