* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-y: scroll;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: $darkBlueColor;
  color: $whiteColor;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  transition: all 400ms;
  text-decoration: none;
  cursor: pointer;
}

.section_padding{
  padding: 100px 0;
}

.intro_wrapper{
  margin-bottom: 40px;
}

.radius_box{
  border-radius: 5px;
}

@media screen and (min-width: 768px){
  .section_padding{
    padding: 200px 0;
  }

  .intro_wrapper{
    margin-bottom: 80px;
  }
}
