@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400&display=swap');

//Fluid Typography

p{
    font-weight: 300;
    color: $lightGreyColor;
    line-height: 1.875rem;
    margin-bottom: 0;
}

h1{
    font-size: 2.5rem;
    color: $darkGreyColor;
}

h2{
    font-size: 2.1875rem;
    color: $darkGreyColor;
}

h3{
    font-size: 1.875rem;
    color: $darkGreyColor;
}

h4{
    font-size: 1.75rem;
    color: $darkGreyColor;
    line-height: 2.1875rem;
}

h5{
    font-size: 1.25rem;
    color: $darkGreyColor;
}

h6{
    color: $darkGreyColor;
}

blockquote{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.25rem;
    font-style: italic;
    &::before{
        content: "“";
        color: $whiteColor;
        font-size: 7.5rem;
        display: inline-block;
        line-height: 1.75rem;
        text-align: left;
        vertical-align: bottom;
        margin: 0rem 0.9375rem -0.625rem -1.25rem;
        font-family: "Oswald", sans-serif;
    }
}

.front_title{
    margin-bottom: 0.625rem;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.5rem;
}

.subpage_title{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.5rem;
}

.left_border{
    padding-left: 0.625rem;
    border-left: 0.1875rem solid $primaryColor;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.0625rem;
    margin: 0;
    color: $darkGreyColor;
}

@media screen and (min-width: 992px){

    h4{
        font-size: 2.5rem;
        line-height: 3.125rem;
    }

    .front_title{
        font-size: 3.125rem;
        line-height: 4.0625rem;
        margin-bottom: 1.5625rem;
    }

    .subpage_title{
        font-size: 3.125rem;
        line-height: 4.0625rem;
    }

    .left_border{
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    blockquote{
        font-size: 1.875rem;
        line-height: 3.375rem;
        &::before{
            font-size: 12.5rem;
            line-height: 1.75rem;
            margin: 0rem 1.5625rem -0.9375rem -2.1875rem;
        }
    }
}

