@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');

//Fluid Typography

p{
    font-weight: 300;
    color: $lightGreyColor;
    line-height: 1.875rem;
    margin-bottom: 0;
}

h1{
    font-size: 2.5rem;
    color: $darkGreyColor;
}

h2{
    font-size: 2.1875rem;
    color: $darkGreyColor;
}

h3{
    font-size: 1.875rem;
    color: $darkGreyColor;
}

h4{
    font-size: 1.75rem;
    color: $darkGreyColor;
}

h5{
    font-size: 1.25rem;
    color: $darkGreyColor;
}

h6{

}

blockquote{
    font-size: 1.375rem;
}

.left_border{
    padding-left: 0.625rem;
    border-left: 0.1875rem solid $primaryColor;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.0625rem;
    margin: 0;
    color: $darkGreyColor;
}

