@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');

//Fluid Typography

p{
    font-weight: 300;
    color: $lightGreyColor;
    line-height: 1.875rem;
    margin-bottom: 0;
}

