footer{
    background-color: $footerColor;
    color: $whiteColor;
    padding: 4.375rem 0rem;
    ul{
        padding: 0rem;
        list-style-type: none;
        margin-bottom: 1.875rem;
        li{
            font-weight: 300;
            margin-bottom: 0.5rem;
            a{
                color: $lightGreyColor;
                &:hover{
                text-decoration: none;
                color: $primaryColor;
                }
            }
        }
    }
    h4{
        text-transform: uppercase;
        font-size: 1.125rem;
        color: $darkGreyColor;
        margin-bottom: 1.1rem;
        font-weight: 700;
        letter-spacing: 0.06875rem;
    }

    .footer_follow{
        margin-bottom: 0.625rem;
    }
}
  
.footer_headline{
    border-left: solid 0.1875rem $primaryColor;
    padding-left: 0.5625rem;
}

.footer_logo{
    margin-bottom: 1.1875rem;
    display: table;
}
.prozero_logo{
    display: block;
    max-width: 7.5rem;
    margin-bottom: 2rem;
}

.social_icons{
    display: flex;
    .social_icon{
        
        margin: 0 1.125rem 0 0;
        font-size: 1.5rem;
        &:last-child{
            margin-right: 0rem;
        }
    }
}

@media screen and (min-width: 768px){
    footer{
        .bottom-0{
            margin-bottom: 0rem;
        }
    }
}

@media screen and (min-width: 992px){
    footer{
        h4{
            margin-bottom: 1.25rem;
        }
        ul{
            margin-bottom: 0rem;
        }
    }
}