#subbanner.hero{
    display: flex;
    align-items: center;
    height: 556px;
    color:$whiteColor;
    background-size: cover;
    background-color: #ecedf1;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-name: handFadeUp;
    background-repeat: no-repeat;
    animation-timing-function: ease-out;
    background-position: 100vw 0px;
    animation-fill-mode: forwards;
    //background-image: url("/src/assets/img/");

}