.subbanner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17.1875rem;
  color: $darkGreyColor;
  :after {
    @include banner_fade;
  }
}

.subbanner_overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
}

.subbanner_title {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.subbanner_img {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .subbanner {
    height: 30rem;
  }
}

@media screen and (min-width: 1200px){
    .subbanner{
        height: 36.75rem;
        &:after{
          -moz-box-shadow: inset 0 150px 100px -140px $darkBlueColor, inset 0 -150px 100px -140px $darkBlueColor;
          -webkit-box-shadow: inset 0 150px 100px -140px $darkBlueColor, inset 0 -150px 100px -140px $darkBlueColor;
          box-shadow: inset 0 150px 100px -140px $darkBlueColor, inset 0 -150px 100px -140px $darkBlueColor;
        }
    }

  .subbanner_title {
    font-size: 3.75rem;
  }
}
