.article_imgwrapper{
    img{
        border-radius: $radius $radius 0 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.article_textwrapper{
    position: static;
}

.article_inner{
    background-color: $lightBoxColor;
    border-radius: 0 0 $radius $radius;
    padding: 2.1875rem 2.8125rem 2.1875rem 1.875rem;

    .article_label{
        position: absolute;
        top: 1.25rem;
    }

    .article_meta{
        color: $lightBlueColor;
        display: flex;
        align-items: center;
        margin-bottom: 0.9375rem;

        .article_timestamp{
            font-size: 0.6875rem;
            text-transform: uppercase;
            border-right: 0.0625rem solid $lightBlueColor;
            padding-right: 0.625rem;
        }
        .article_share{
            display: flex;
            list-style-type: none;
            padding-left: 0.625rem;

            .article_icon{
                margin-right: 0.5rem;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    color: $lightBlueColor;
                }
            }
        }
    }

    .article_title{
        color: $darkTextColor;
        font-size: 1.875rem;
        font-weight: 700;
        line-height: 2rem;
        margin-bottom: 1.5625rem;
        a{
            color: $darkTextColor;
            text-decoration: none;
            &:hover{
                color: $lightBlueColor;
            }
        }
    }

    .article_introtext{
        color: $lightBlueColor;
        font-size: 0.9375rem;
        line-height: 1.5625rem;
        font-weight: 400;
        margin: 0;
    }
}

@media screen and (min-width: 768px){
    .article_imgwrapper{
        padding-right: 0;
        img{
            border-radius: $radius 0 0 $radius;
        }
    }

    .article_textwrapper{
        padding-left: 0;
        background-color: $lightBoxColor; 
        border-radius: 0 $radius $radius 0;
        display: flex;
        align-items: center;
    }

    .article_inner{
        background-color: transparent;

        .article_label{
            right: 1.25rem;
        }

        .article_introtext{
            font-size: 0.875rem;
            line-height: 1.5rem;
        }
    }
}

@media screen and (min-width: 992px){

    .article_inner{
        border-radius: 0;
        padding: 3.125rem 2.8125rem 3.125rem 2.8125rem;

        .article_meta{
            .article_timestamp{
                font-size: 0.8125rem;
            }
            .article_share{
                .article_icon{
                    margin-right: 0.625rem;
                }
            }
        }
        .article_introtext{
            line-height: 1.75rem;
        }
    }
}

@media screen and (min-width: 1200px){
    
    .article_inner{
        padding: 4.6875rem 4.0625rem;

        .article_title{
            font-size: 2.5rem;
            line-height: 3.125rem;
            margin-bottom: 1.875rem;
        }
    }
}