.casecard{
    position: relative;
    display: block;
    height: 480px;

    .case_img{
        height: 100%;
    }
}

.card_overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.05);

    .card_fade{
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-image: linear-gradient(rgba(255, 255, 255, 0), black);

        .case_title{
            text-transform: capitalize;
            color: $whiteColor;
            position: absolute;
            right: 30x;
            bottom: 30px;
            left: 30px;
            font-size: 22px;

        }
    }
}