.casecard{
    position: relative;
    display: block;
    height: 26.5rem;

    .case_img{
        height: 100%;
        border-radius: $radius;
        //looks the same as in the desing file
        object-fit: cover;
    }
}

.card_overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.05);

    .card_fade{
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
        background-image: linear-gradient(rgba(255, 255, 255, 0), black);

        .case_title{
            color: $darkGreyColor;
            position: absolute;
            right: 1.875rem;
            bottom: 1.875rem;
            left: 1.875rem;
            font-size: 1.375rem;
            line-height: 1.875rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

@media screen and (min-width: 1200px){
    .casecard{
        height: 30rem;
    }
}