.casehead_wrapper{
    position: relative;
    margin-bottom: 2.5rem;

    .casehead_title{
        text-transform: capitalize;
    }
}

.casehead_img{
    border-radius: $radius;
    object-fit: cover;
    width: 100%;
    max-height: 700px;
}

.casehead_share{
    position: absolute;
    right: 1.875rem;
    top: 1.875rem;
    bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightBoxColor;
    border-radius: $radius;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 28px 8px;
    padding: 1.25rem 0.9375rem;
    span{
        color: $darkBlueColor;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 1.25rem;
        font-size: 0.75rem;
    }

    .caseheade_shareicons{
        list-style-type: none;
        li{
            margin-bottom: 0.3125rem;
            text-align: center;
            &:last-child{
                margin-bottom: 0;
            }
            a{
                color: $lightBlueColor;
            }
        }
    }
}

.casehead_fade{
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0), black);
    border-radius: 0 0 $radius $radius;
}

.casehead_textwrapper{
    position: absolute;
    top: auto;
    right: 1.875rem;
    bottom: 1.875rem;
    left: 1.875rem;
    width: 80%;
    .casehead_title{
        font-weight: 600;
        margin-bottom: 0.625rem;
    }

    .casehead_date{
        color: $primaryColor;
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 768px){
    .casehead_wrapper{
        margin-bottom: 5rem;
    }
}

@media screen and (min-width: 992px){
    .casehead_textwrapper{
        right: 3.125rem;
        bottom: 3.125rem;
        left: 3.125rem;

        .casehead_title{
            font-size: 3.4375rem;
            line-height: 4.375rem;
            margin-bottom: 1.25rem;
        }

        .casehead_date{
            font-size: 0.875rem;
        }
    }

    .casehead_share{
        padding: 2.5rem 1.875rem;
        span{
            font-weight: 700;
            margin-bottom: 2.5rem;
            font-size: 0.9375rem;
        }

        .caseheade_shareicons{
            li{
                margin-bottom: 1.25rem;
                a{
                    font-size: 1.4375rem;
                }
            }
        }
    }
}