.modal-header {
  padding: 0;
//   max-height: 10em;
  img {
    max-height: 17rem;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;

  }
}

.modal-content{
    border-radius: 0.5rem 0.5rem 0 0;
    color: black;
}

.close_icon{
    position: absolute;
    z-index: 99;
    color: $primaryColor;
    font-size: 2.5rem;
    top: -1rem;
    right: -1rem;
    background-image: radial-gradient(at center, white 40%, transparent 40%);
}