footer{
    background-color: $footerColor;
    color: $whiteColor;
    ul{
        padding: 0;
        list-style-type: none;
    }
        a{
            color: white;
            &:hover{
            text-decoration: none;
            color: $primaryColor;
        }
    }
    h4{
        text-transform: uppercase;
        font-size: 1.125rem;
        color: $darkGreyColor;
        margin-bottom: 1.5625rem;
    }
}
  
.footer_headline{
    text-transform: uppercase;
    border-left: solid 3px $primaryColor;
    padding-left: 9px;
}

.footer_logo{
    margin-bottom: 2.1875rem;
    display: block;
}