header {
  background-color: $headerColor;
}

.top_bar {
  border-bottom: 1px solid $darkGreyColor;
  color: $lightGreyColor;
  font-size: 13px;
}

.header_logo {
  display: block;
}

.tuco_navbar {
  padding: 0 5%;
}

.nav-item {
  &a {
    color: $whiteColor;
  }
}
.nuxt-link-active, .active {
  color: $whiteColor !important;
}

.nuxt-link-exact-active {
  border-bottom: 1px solid $primaryColor;
  padding-bottom: 1px;
}
