




.recentnews_img{
    border-bottom: 0.625rem solid $darkPrimaryColor;
}


.recent_list{
    list-style-type: none;

    li{
        border-bottom: 0.0625rem solid rgba(112, 112, 112, 0.25);
        margin-bottom: 2.5rem;
        padding: 0 0 1.5625rem 0;
        font-weight: 300;
        &:last-child{
            margin-bottom: 3.125rem;
        }
        a{
            color: $darkGreyColor;
            text-decoration: none;
            font-size: 1.125rem;
        }
    }
}

@media screen and (min-width: 992px){
    .recent_list{
        max-width: 20.625rem;
        li{
            a{
                font-size: 1.25rem;
                display: inline-block;
                max-width: 11.875rem;
            }
        }
    }
}