.carousel-indicators {
  //Fix for indicators appearing on top of modal
  z-index: 2 !important;
}

.promo_modal {
  //   width: 100%;
  //   left: 10%;
}

.modal-fluid {
  max-width: 85%;
  .modal-body {
    background: rgba(10, 10, 10, 0);
    padding: 0px;
  }
  .modal-content {
    background: rgba(10, 10, 10, 0);
    border-width: 0 !important;
  }
}

.promo_video {
  width: 100%;
}
