.video_promo_overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.2);
  z-index: 1;
}
.carousel-indicators{
  z-index: 1;
  li{
    width: 2.8125rem;
    height: 0.1875rem;
    &:focus{
      outline: none;
    }
  }

  .active{
    background-color: $primaryColor;
  }
}

.carousel-caption{
  right: 0.9375rem;
  left: 0.9375rem;
  z-index: 2;
  padding-bottom: 0;
  padding-top: 0;
  height: 80%;
  display: flex;
  align-items: center; 
  bottom: 10%;
  top: 10%;
  
  .play_btn{
    margin-bottom: 1.25rem;
  }
}

.modal{
  cursor: pointer;
}

.modal-open{
  padding-right: 0 !important;
}

.modal.show .modal-dialog{
  max-width: 58.75rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table;
}

.modal-fluid {
  .modal-body {
    background: rgba(10, 10, 10, 0);
    padding: 0rem;
  }
  .modal-content {
    background: rgba(10, 10, 10, 0);
    border-width: 0 !important;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

.player_area {
  overflow: hidden;
  padding: 0rem;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.promo_video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.promo_title{
  text-transform: uppercase;
  margin-bottom: 0.625rem;
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.5) 0rem 0.5rem 0.5rem;
}

.promo_description{
  font-size: 0.75rem;
  font-weight: 300;
}

.carousel_img {
  width: 100%;
  height: 21.875rem;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 576px){
  .carousel-caption{
    right: 1.875rem;
    left: 1.875rem;
  }
}

@media screen and (min-width: 768px){

  .carousel-indicators{
    margin-bottom: 1.875rem;
  }

  .carousel-caption{
    .play_btn{
      margin-bottom: 2.5rem;
    }
  }

  .carousel_img{
    height: 32.8125rem;
  }

  .promo_title{
    margin-bottom: 0.9375rem;
    font-size: 2.5rem;
  }

  .promo_description{
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .carousel_img {
    height: 43.75rem;
  }

  .promo_title{
    font-size: 4.0625rem;
  }

  .promo_description{
    max-width: 39.375rem;
    display: block;
    margin: 0 auto;
    font-size: 1.125rem;
    line-height: 2rem;
  }
}





