@mixin input_field {
  border-bottom: 0.125rem solid $borderColor;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  background-color: transparent;
  outline: none;
  padding: 0rem 0.9375rem;
  width: 100%;
  height: 2.125rem;
}

@mixin banner_fade {
  -moz-box-shadow: inset 0 -150px 100px -140px $darkBlueColor;
  -webkit-box-shadow: inset 0 -150px 100px -140px $darkBlueColor;
  box-shadow: inset 0 -150px 100px -140px $darkBlueColor;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  content: "";
}

@mixin cornor_red {
  @media only screen and (min-width: 768px) {
    display: block;
    content: "";
    width: 3.75rem;
    height: 3.75rem;
    position: absolute;
    bottom: -0.625rem;
    left: -0.625rem;
    border-bottom: 0.3125rem solid #ed1b2e;
    border-left: 0.3125rem solid #ed1b2e;
    z-index: 2;
  }
}
