$blackColor: #000000;
$whiteColor: #ffffff;
$primaryColor: #ed1b2e;
$darkPrimaryColor: #d60c1f;
$lightGreyColor: #e3e3e3;
$darkGreyColor: #eaeaea;
$lightBlueColor: #617d91;
$darkBlueColor: #00111f;
$lightBoxColor: #f5f9fc;
$darkTextColor: #1f3442;
$borderColor: #dddddd;
$darkBorderColor: #3d3d3d;
$footerColor: #121212;

$radius: 0.3125rem;